NODE_ENV=production
PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=acocie_stores
DB_USER=postgres
DB_PASSWORD=Amazing882


JWT_SECRET=DMPOm4DUtYLU7tuKJkFx0myWh/hMduNf8jwJViwQjRk=
JWT_REFRESH_SECRET=0s7aGgB2AAMhA/lPtXxuAsptrxm1nmE0KCjGhQc5vMc=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d



EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=ondeyostephen0@gmail.com
EMAIL_PASSWORD=wuuj bonr lnuv zdhn
EMAIL_FROM="Acocie Stores <noreply@acocie.com>"


FRONTEND_URL=http://localhost:3001
